<!-- page loading -->
<app-loader></app-loader>
<!-- End -->

<!-- Header Start -->
<app-header></app-header>
<!-- End Header -->

<!-- nav bar -->
<app-sidebar></app-sidebar>
<!-- End nav bar -->

<!-- Main Start -->
<main class="main-left pp-main-section">
  <!-- Home -->
  <section app-home id="home" data-nav-tooltip="Home" class="pp-section pp-scrollable"></section>
  <!-- End Home -->
  <!-- about us -->
  <section app-about id="about" data-nav-tooltip="About" class="pp-section pp-scrollable section counter"></section>
  <!-- End about us -->
  <!-- Services -->
  <section app-service id="services" data-nav-tooltip="Services" class="pp-section pp-scrollable section"></section>
  <!-- End Services -->
  <!-- Portfolio -->
  <section app-portfolio id="work" data-nav-tooltip="Work" class="pp-section pp-scrollable section dark-bg"></section>
  <!-- End Portfolio -->
  <!-- Contact us -->
  <section app-contact id="contactus" data-nav-tooltip="Contact Me" class="pp-section pp-scrollable section dark-bg"></section>
  <!-- End Contact us -->
</main>
<!-- End Main -->

<app-theme></app-theme>