<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 m-15px-tb">
            <div class="about-me">
                <div class="img">
                    <div class="img-in">
                        <img src="assets/static/img/about-me.png" title="" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 m-15px-tb">
            <div class="about-info">
                <div class="title">
                    <h3>About me.</h3>
                </div>
                <div class="about-text">
                    <h3>I'm a Freelancer Front-end Developer with over 3 years of experience. </h3>
                    <p>I'm a Freelancer Front-end Developer with over 3 years of experience. I'm from San Francisco. I code and create web elements for amazing people around the world. I like work with new people. New people new Experiences.</p>
                    <div class="row">
                        <div class="col-auto">
                            <div class="media align-items-center">
                                <span class="count">
                                    5k
                                </span>
                                <div class="media-body">
                                    Projects <br />Completed.
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="media align-items-center">
                                <span class="count">
                                    3k
                                </span>
                                <div class="media-body">
                                    Satisfied <br />Clients.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-bar">
                        <a class="px-btn px-btn-theme" href="#"><span>Contact Me</span></a>
                        <a class="px-btn px-btn-theme" href="#"><span>Portfolio</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="separated"></div>
    <div class="title">
        <h3>Education & Skills</h3>
    </div>
    <div class="row">
        <div app-education class="col-lg-4 m-15px-tb"></div>
        <div app-skill class="col-lg-7 ml-auto m-15px-tb"></div>
    </div>
    <div class="separated"></div>
    <div class="title">
        <h3>Experience.</h3>
    </div>
    <div app-experience class="resume-box"></div>
</div>