<div class="resume-row">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-xl-2">
            <div class="rb-left">
                <img src="assets/static/img/a1.png" title="" alt="">
            </div>
        </div>
        <div class="col-sm-9 col-md-9 col-xl-10">
            <div class="rb-right">
                <h6>Front-end Developer</h6>
                <label>WeLab | Remote | Jan 2019 - Present</label>
                <div class="rb-time">Full Time</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
            </div>
        </div>
    </div>
</div>
<div class="resume-row">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-xl-2">
            <div class="rb-left">
                <img src="assets/static/img/a2.png" title="" alt="">
            </div>
        </div>
        <div class="col-sm-9 col-md-9 col-xl-10">
            <div class="rb-right">
                <h6>Front-end Developer</h6>
                <label>WeLab | Remote | Jan 2019 - Present</label>
                <div class="rb-time">Full Time</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
            </div>
        </div>
    </div>
</div>
<div class="resume-row">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-xl-2">
            <div class="rb-left">
                <img src="assets/static/img/a3.png" title="" alt="">
            </div>
        </div>
        <div class="col-sm-9 col-md-9 col-xl-10">
            <div class="rb-right">
                <h6>Front-end Developer</h6>
                <label>WeLab | Remote | Jan 2019 - Present</label>
                <div class="rb-time">Full Time</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
            </div>
        </div>
    </div>
</div>