<div class="container">
    <div class="title">
        <h3>What I do?</h3>
    </div>
    <div class="row">
        <div class="col-sm-6 m-15px-tb">
            <div class="feature-box-01 media">
                <i class="icon theme-bg icon-mobile"></i>
                <div class="feature-content media-body">
                    <h5>Web Design</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 m-15px-tb">
            <div class="feature-box-01 media">
                <i class="icon theme-bg icon-desktop"></i>
                <div class="feature-content media-body">
                    <h5>Web Development</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 m-15px-tb">
            <div class="feature-box-01 media">
                <i class="icon theme-bg icon-target"></i>
                <div class="feature-content media-body">
                    <h5>SEO Marketing</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 m-15px-tb">
            <div class="feature-box-01 media">
                <i class="icon theme-bg icon-mobile"></i>
                <div class="feature-content media-body">
                    <h5>Web Design</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 m-15px-tb">
            <div class="feature-box-01 media">
                <i class="icon theme-bg icon-desktop"></i>
                <div class="feature-content media-body">
                    <h5>Web Development</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 m-15px-tb">
            <div class="feature-box-01 media">
                <i class="icon theme-bg icon-target"></i>
                <div class="feature-content media-body">
                    <h5>SEO Marketing</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
</div>