<div class="container">
    <div class="title">
        <h3>My Portfolio.</h3>
    </div>
    <div class="portfolio-filter-01">
        <ul class="filter nav">
            <li class="active" data-filter="*">All</li>
            <li data-filter=".branding">Branding</li>
            <li data-filter=".photoshop">Photoshop</li>
            <li data-filter=".fashion">Fashion</li>
            <li data-filter=".product">Product</li>
        </ul>
    </div> <!-- Portfolio Filter -->
    <div class="portfolio-content grid-gutter-lg grid-col-3 lightbox-gallery">
        <div class="grid-item product branding fashion">
            <div class="portfolio-box-01">
                <div class="portfolio-info">
                    <h5 class="white-color font-weight-bold">Momb ios App</h5>
                    <span>Broadcasting ios App</span>
                </div>
                <div class="portfolio-img">
                    <img src="assets/static/img/m-portfolio-1.jpg" title="" alt="">
                    <div class="portfolio-icon">
                        <a href="assets/static/img/m-portfolio-1.jpg" class="gallery-link">
                            <span class="ti-plus"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div> <!-- grid item -->
        <div class="grid-item photoshop">
            <div class="portfolio-box-01">
                <div class="portfolio-info">
                    <h5 class="white-color font-weight-bold">Momb ios App</h5>
                    <span>Broadcasting ios App</span>
                </div>
                <div class="portfolio-img">
                    <img src="assets/static/img/m-portfolio-2.jpg" title="" alt="">
                    <div class="portfolio-icon">
                        <a href="assets/static/img/m-portfolio-2.jpg" class="gallery-link">
                            <span class="ti-plus"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div> <!-- grid item -->
        <div class="grid-item product branding">
            <div class="portfolio-box-01">
                <div class="portfolio-info">
                    <h5 class="white-color font-weight-bold">Momb ios App</h5>
                    <span>Broadcasting ios App</span>
                </div>
                <div class="portfolio-img">
                    <img src="assets/static/img/m-portfolio-3.jpg" title="" alt="">
                    <div class="portfolio-icon">
                        <a href="assets/static/img/m-portfolio-3.jpg" class="gallery-link">
                            <span class="ti-plus"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div> <!-- grid item -->
        <div class="grid-item product photoshop">
            <div class="portfolio-box-01">
                <div class="portfolio-info">
                    <h5 class="white-color font-weight-bold">Momb ios App</h5>
                    <span>Broadcasting ios App</span>
                </div>
                <div class="portfolio-img">
                    <img src="assets/static/img/m-portfolio-5.jpg" title="" alt="">
                    <div class="portfolio-icon">
                        <a href="assets/static/img/m-portfolio-5.jpg" class="gallery-link">
                            <span class="ti-plus"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div> <!-- grid item -->
        <div class="grid-item branding">
            <div class="portfolio-box-01">
                <div class="portfolio-info">
                    <h5 class="white-color font-weight-bold">Momb ios App</h5>
                    <span>Broadcasting ios App</span>
                </div>
                <div class="portfolio-img">
                    <img src="assets/static/img/m-portfolio-4.jpg" title="" alt="">
                    <div class="portfolio-icon">
                        <a href="assets/static/img/m-portfolio-4.jpg" class="gallery-link">
                            <span class="ti-plus"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div> <!-- grid item -->
        <div class="grid-item product photoshop">
            <div class="portfolio-box-01">
                <div class="portfolio-info">
                    <h5 class="white-color font-weight-bold">Momb ios App</h5>
                    <span>Broadcasting ios App</span>
                </div>
                <div class="portfolio-img">
                    <img src="assets/static/img/m-portfolio-6.jpg" title="" alt="">
                    <div class="portfolio-icon">
                        <a href="assets/static/img/m-portfolio-6.jpg" class="gallery-link">
                            <span class="ti-plus"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div> <!-- grid item -->
        <div class="grid-item fashion">
            <div class="portfolio-box-01">
                <div class="portfolio-info">
                    <h5 class="white-color font-weight-bold">Momb ios App</h5>
                    <span>Broadcasting ios App</span>
                </div>
                <div class="portfolio-img">
                    <img src="assets/static/img/m-portfolio-7.jpg" title="" alt="">
                    <div class="portfolio-icon">
                        <a href="assets/static/img/m-portfolio-7.jpg" class="gallery-link">
                            <span class="ti-plus"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div> <!-- grid item -->
        <div class="grid-item product branding">
            <div class="portfolio-box-01">
                <div class="portfolio-info">
                    <h5 class="white-color font-weight-bold">Momb ios App</h5>
                    <span>Broadcasting ios App</span>
                </div>
                <div class="portfolio-img">
                    <img src="assets/static/img/m-portfolio-8.jpg" title="" alt="">
                    <div class="portfolio-icon">
                        <a href="assets/static/img/m-portfolio-8.jpg" class="gallery-link">
                            <span class="ti-plus"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div> <!-- grid item -->
        <div class="grid-item fashion">
            <div class="portfolio-box-01">
                <div class="portfolio-info">
                    <h5 class="white-color font-weight-bold">Momb ios App</h5>
                    <span>Broadcasting ios App</span>
                </div>
                <div class="portfolio-img">
                    <img src="assets/static/img/m-portfolio-9.jpg" title="" alt="">
                    <div class="portfolio-icon">
                        <a href="assets/static/img/m-portfolio-9.jpg" class="gallery-link">
                            <span class="ti-plus"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div> <!-- grid item -->
    </div>
</div>